html {
    background: url('https://teamomega.dev/assets/images/background.jpg') fixed;
    background-size: 100%;
  }
  body {
      color: #dfdfdf;
      font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 20px;
      font-size: 12pt;
  }
  .logo {
      padding: 0 0 12px 0;
  }
  .block {
      width: 90%;
      padding: 12px;
      margin: 0 0 10px 0;
      background: url(https://teamomega.dev/assets/images/block_bg.png);
  }
  h1 {
      font-size: 100%;
      color: #F7B2C7;
      margin: 0 0 8px 0;
      padding: 0;
  }
  h2 {
      font-size: 100%;
      color: #FAD7DD;
      margin: 0 0 8px 0;
      padding: 0;
  }
  ul {
      margin: 0;
      padding: 0 0 0 15px;
  }
  li {
      margin: 0;
      padding: 0;
  }